{% extends 'base.html' %}
{% block content %}

<h1>About the Sea Creature Collector</h1>
<img src="https://static.wikia.nocookie.net/nickelodeon/images/b/b3/Cyclops_Laughing.jpg/revision/latest/scale-to-width-down/728?cb=20140504181848" alt="old school diver">
<p>The Sea Creature Collector dives to the deepest depths of the oceans to display grade A sea creature content to their
viewers. <a href="tel:877-CASH NOW">Hire the Sea Creature Collector</a> for your child's next birthday party.
</p>

{% endblock %}